<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">

<html lang="en">
    
    <head>
        <link rel="stylesheet" href="addons.component.css">
        <title>Addon Plan</title>
        
    </head>
    <body>
        <header class="header">
            <a href="#" class="logo">AirNet </a>
        
            <nav class="navbar">
                <a href="/popularplans" class="userPlans">Popular Plans</a>
                <a href="/addons" class="userAddons" id="active">Addons</a>
                <a href="/notifications" class="notifications">Notifications</a>
                <a href="/login" class="login">Logout</a>
            </nav>

        </header>  
        <br>
        <br>
        <br>
        <div class="container">
        <div class="AddonsGrid" *ngFor = "let addon of addons" >
            
            <h1 class="heading">{{addon.addonName}}</h1>
            <h2 class="service__price">Rs.{{addon.addonPrice}}</h2>
            <ul class="features__list">
                <li>Details:{{addon.addonDetails}}</li>
            </ul>
            <h4><a><button class="recharge__button" (ngSubmit)="OnSubmit()" (click)="addon-rechargeconfirmation(addon.id)">Recharge</button></a></h4>
        </div>   
    </div>
    </body>
</html>