<div class="col-md-6 offset-md-3">
    <h3> Edit User </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> UserName</label>
            <input type="text" class ="form-control" id = "username"
                [(ngModel)] = "user.username" name = "username">
        </div>
    
        <div class="form-group">
            <label> MobileNumber</label>
            <input type="text" class ="form-control" id = "mobilenumber"
                [(ngModel)] = "user.mobilenumber" name = "mobilenumber">
        </div>
    
        <div class="form-group">
            <label> Email Id</label>
            <input type="text" class ="form-control" id = "emailId"
                [(ngModel)] = "user.emailId" name = "emailId">
        </div>

        <div class="form-group">
            <label> Password</label>
            <input type="text" class ="form-control" id = "password"
                [(ngModel)] = "user.password" name = "password">
        </div>


        <div class="form-group">
            <label>UserRole</label>

            <input type="text" class ="form-control" id = "user_role"
                [(ngModel)] = "user.user_role" name = "user_role">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 
