<nav class="navbar">
    <h1>Register</h1>
    </nav>
    <div class="formbody">
        <form [formGroup]="signupform" (ngSubmit)="onSubmit()">
            <input [(ngModel)] = "user.emailId" type="emailId" id="emailId" placeholder="Enter emailId" name="emailId" formControlName="emailId"><br/>
            <span style="color:red" *ngIf="emailId && emailId.invalid && emailId.touched">Please enter valid emailId</span>
            <input [(ngModel)] = "user.username" type="text" id="username" placeholder="Enter Username" name="username" formControlName="username"><br/>
            <span style="color:red" *ngIf="username && username.invalid && username.touched">Please enter valid username</span>
            <input [(ngModel)] = "user.mobilenumber" type="text" id="mobilenumber" placeholder="Enter mobilenumber" name="mobilenumber" formControlName="mobilenumber"><br/>
            <span style="color:red" *ngIf="mobilenumber && mobilenumber.invalid && mobilenumber.touched">Please enter valid mobile number</span>
            <input [(ngModel)] = "user.password" type="password" id="password" placeholder="Enter password" name="password" formControlName="password" (change)="onPasswordChange()"><br/>
            <span style="color:red" *ngIf="password && password.invalid && password.touched">Please enter valid password</span>
            <input type="password" id="confirmPassword" placeholder="Confirm password" name="confirmpassword" formControlName="confirmpassword" (change)="onPasswordChange()"><br/>
            <span style="color:red" *ngIf="confirmpassword && confirmpassword.invalid && confirmpassword.touched &&confirm_password.hasError('mismatch')">Password and confirm password missmatch</span>
            <button type="submit" [disabled]="signupform.invalid" id="submitButton"><b>Submit</b></button><br/><br/>
            Already a user ? <a id="signinLink" href="user/login" >Login</a>
    
        </form>
    </div>