<div class="col-md-6 offset-md-3">
    <h3> Sign Up </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> UserName</label>
            <input type="text" class ="form-control" id = "username"
                [(ngModel)] = "user.username" name = "username">
        </div>
    
        <div class="form-group">
            <label> MobileNumber</label>
            <input type="text" class ="form-control" id = "mobilenumber"
                [(ngModel)] = "user.mobilenumber" name = "mobilenumber">
        </div>
    
        <div class="form-group">
            <label> Email Id</label>
            <input type="text" class ="form-control" id = "emailId"
                [(ngModel)] = "user.emailId" name = "emailId">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 
