<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">

<html >
    <body>
        <header class="header">
            <a href="#" class="logo">AirNet </a>
        
            <nav class="navbar">
                <a href="/popularplans" class="userPlans">Popular Plans</a>
                <a href="/addons" class="userAddons">Addons</a>
                <a href="/notifications" class="notifications" id="active">Notifications</a>
                <a href="/login" class="login">Logout</a>
            </nav>
        </header> 

    <div class="contain">
	<div class="congrats">
		
		<br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <br>
        <br>
        <br>
        <br>
		<div class="text">
		<p>congrats {{this.num}}
		</p>
			
			</div>
		
	</div>
</div>
    </body>
</html>