<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">

<html >
    <body>
        <div class="bg"></div>
        <div class="header">
            <a href="#" class="logo">AirNet </a>
        
            <nav class="navbar">
                <a href="/popularplans" class="userPlans">Popular Plans</a>
                <a href="/addons" class="userAddons">Addons</a>
                <a href="/notifications" class="notifications" id="active">Notifications</a>
                <a href="/user/login" class="login">Logout</a>
            </nav>
        </div> 
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
    <div class="container">
		    <br>
            <br>
            <h1>Congratulations!!!</h1>
		    <h3>Recharge for your number {{this.num}} is Sucessful</h3>
            <h3>You will receive a confirmation message in few minutes.</h3>
    </div>
</body>
</html>