<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="admin/dashboard">AirNet</a></li>
            <li><a id="adminPrepaid" href="admin/prepaidplans">Prepaid plans</a></li>
            <li><a id="adminPostpaid" href="admin/postpaidplans">Postpaid plans</a></li>
            <li><a id="adminAddOns" href="admin/addon">AddOns</a></li>
            <li style="float:right"><button (click)="logout()">Logout</button></li>
        </ul>
    </nav>
    <h1>WELCOME TO AIRNET RECHARGE MANAGEMENT SYSTEM</h1>
    <h2>HELLO ADMIN</h2>


</body>
</html>