<div class="recharge_update" id="recharge_update">
    <h3>Welcome Admin! Enter details to Update a Prepaid recharge</h3>
    <form (ngSubmit) = "onSubmit()">
                
                <div> <input type="mobile" [(ngModel)] = "recharge.mobile" class="MobileNumber" placeholder="Mobile Number" id="mobile"></div>
                
                <div><input type="email" [(ngModel)] = "recharge.email" class="email" placeholder="Email" id="email"></div>
                
                <div><input [(ngModel)] = "recharge.rechargeId" name="rechargeId" type="text" placeholder="Enter recharge ID"></div>
                <div><input [(ngModel)] = "recharge.rechargePlan" name="rechargePlan" type="text" placeholder="Enter recharge Plan"></div>
                <div><input [(ngModel)] = "recharge.rechargePrice" name="rechargePrice" type="text" placeholder="Enter the price"></div>
                <div><input [(ngModel)] = "recharge.rechargetype" name="rechargeType" type="text" placeholder="Enter recharge type"></div>
        <br><br>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>