<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <nav>
            <ul>
                <li><a href="admin/dashboard">AirNet</a></li>
                <li><a id="adminPrepaid" href="admin/prepaidplans">Prepaid plans</a></li>
                <li><a id="adminPostpaid" href="admin/postpaidplans">Postpaid plans</a></li>
                <li><a id="adminAddOn" href="admin/addons">AddOns</a></li>
                <li><a id="adminDisplayUser" href="displayuser">DisplayUser</a></li>
                <li><a id="displayRecharge" href="displayrecharge">DisplayRecharge</a></li>
                <li style="float:right"><button (click)="logout()">Logout</button></li>
            </ul>
        </nav>
    
        <h1>Addon PLANS</h1>
    
        <div class="top">
            <button id="addAddon" (click)="addAddon()">Add Addon</button> &nbsp;
        </div>
    
        <div class="Addon_inputt" id="Addon_inputt">
            <h3>Welcome Admin! Enter details to add a Addon</h3>
            <form (ngSubmit) = "onSubmit()">

                <div><input [(ngModel)] = "Addon.addonId" name="AddonId" type="text" placeholder="Enter Addon ID"></div>
                <div><input [(ngModel)] = "Addon.addonName" name="AddonName" type="text" placeholder="Enter Addon name"></div>
                
                <div><input [(ngModel)] = "Addon.addonDetails" name="AddonDetails" type="text" placeholder="Enter Addon description"></div>
                <div><input [(ngModel)] = "Addon.addonPrice" name="AddonPrice" type="text" placeholder="Enter the price"></div>
                <br><br>
                <button type="submit" class="btn btn-success">Add Addon</button>
            </form>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th> ID</th>
                    <th> Addon Id </th>
                   
                    <th> Addon Name</th>
                   
                    <th> Addon Details </th>
                    <th> Addon Price </th>
              
                </tr>
            </thead>
            <tbody>

                <tr *ngFor = "let Addon of Addons">
                    <td> {{ Addon.id }} </td>
                    <td> {{ Addon.addonId }} </td>
                    
                    <td> {{ Addon.addonName }} </td>
                
                    <td> {{ Addon.addonDetails }} </td>
                    <td> {{ Addon.addonPrice}} </td>

                    <td>
                        <button (click)="updateAddons(Addon.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                        <button (click)="deleteEmployee(Addon.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
</body>
</html>
