ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

 .top{
     margin-top: 1%;
     text-align: center;
 }

 .Addon_input{
    margin-top: 1%;
    text-align: centre;
    display: none;
    border-style: groove;
    margin-left: 12%;
    margin-right: 12%;
 }

 h1{
     text-align: center;
 }

 input{
   margin: 2px;
 }
 body {
  background-color: #328f8a;
  background-image: url(recharge.jpg);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height : 150%;
  min-width : 100%;
  background-size: 150%;
  background-repeat: no-repeat;
  position:absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  
  }