<h2> user List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> ID</th>
            <th> UserName</th>
            <th> MobileNumber </th>
            <th> Email Id</th>
            <th> Password </th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let user of user" >
            <td> {{ user.id }} </td>
            <td> {{ user.username }} </td>
            <td> {{ user.mobilenumber }} </td>
            <td> {{ user.emailId }} </td>
            <td> {{ user.password }} </td>
            
            <td>
                <button (click) = "edituser(user.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteuser(user.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
            </td>
        </tr>
    </tbody>
</table>
