.navbar{
  margin-top: 40px;
  margin-left: 10%;
  width:80%;
  height: 70px;
  color:white;
  background-color: rgb(197, 31, 31);
  text-align: center;
  
}
.formbody{
  border:2px solid black;
  margin-left: 10%;
  margin-top: 1%;
  width:79.7%;
  height: 550px;
  color:white;
  background-image: linear-gradient(rgb(167, 255, 4), rgb(60, 77, 16));
  text-align: center; 
}
input{
  width:40%;
  height:30px;
  margin: 20px;
  margin-left:10px;
  color: black;
}
button{
  width:100px;
  height:30px;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(rgb(248, 2, 2), rgb(94, 12, 12));
}
a{
  text-decoration: none;
  color: brown;
}
span{
  display: block;
  margin:0px;
  padding: 0px;
}