<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h5>Enter email and password</h5>
                </div>
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email"  placeholder="Enter your email a" class="form-control" id="email" aria-describedby="emailHelp">
                    </div>
                    <br>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password"  placeholder="Password" class="form-control" id="password">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" id="loginButton">Login</button>
                </form>
                <br>
                <a routerLink="/signup">New User? Click to signup</a>
            </div>
        </div>
    </div>
</div>