* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
}

/*.bg{
    background:url("bg_img_plans.jpg");     
  min-height : 100%;
  min-width : 100%;
  background-size: 100%;
  background-repeat: no-repeat;
 position:absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  opacity: 0.5;
}*/

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;
    border-radius: 50px;
}
.btn:hover{
    background:black;
    color:#fff;
}

/*header*/

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:#fff;
    box-shadow: var(--box-shadow);
    text-decoration: none;
}
.header .logo{
    text-align: left;
    font-size: 35px;
    color: red;
    text-decoration: none;
}
.header .navbar a{
    font-size: 25px;
    margin:0 1rem;
    text-align: center;
    color:var(--black);
    text-decoration: none;
}

.header .navbar a:hover{
    color:blue;
}



/* Input user */

.InputUser{
    float: left;
    padding: 20px;
    background-color: white;
    height: 250px;
    width:40%;
}
input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/*container*/
.container{
    float: left;
    padding: 20px;
    background-color: white;
    height: 450px;
    width:60%;
}

  