<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">

<html lang="en">
    
    <head>
        <link rel="stylesheet" href="rechargeconfirmation.component.css">
        
    </head>
    <body>
        <header class="header">
            <a href="#" class="logo">AirNet </a>
        
            <nav class="navbar">
                <a href="/popularplans" class="userPlans">Popular Plans</a>
                <a href="/addons" class="userAddons">Addons</a>
                <a href="/notifications" class="notifications">Notifications</a>
                <a href="/login" class="login">Logout</a>
            </nav>
        </header>   
        <br>
        <br>
        <br>
       
            <div class="-InputUser">
                <br>
                <br>
                <br>
                <p>Please fill the details</p>
                <hr>
                <br>
                <label>Name:</label>
                <input type="text" [(ngModel)] = "recharge.name" class="name" placeholder="Name" id="name"> 
                <br>
                <label>Mobile Number:</label>
                <input type="mobile"  [(ngModel)] = "recharge.mobile" class="MobileNumber" placeholder="Mobile Number" id="mobile">
                <br>
                <label>Email:</label>
                <input type="email" [(ngModel)] = "recharge.email" class="email" placeholder="Email" id="email">
                <br>
            </div>
        
        <div class="container">
            <div class="popularplansGrid">
                <h1 class="heading">{{plan.planName}}</h1>
                <h2 class="service__price">Rs.{{plan.planPrice}}</h2>
                <ul class="features__list">
                    <li>plan Type:{{plan.planType}}</li>
                    <li>Validity:{{plan.planValidity}}</li>
                    <li>Details:{{plan.planDetails}}</li>
                </ul> 
                <h4><a><button class="confirmRecharge" (click)="onRecharge()" >Recharge</button></a></h4>
            </div>
        </div>
    </body>
</html>