<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">

<html lang="en">
    
    <head>
        <link rel="stylesheet" href="rechargeconfirmation.component.css">
        
    </head>
    <body>
        <h2>AirNet</h2>
        <nav> 
            <ul class="nav_links">   
                <li><a href="#" id="notification">Notifications</a></li>
                <li><a id="logout" href="/login">Logout</a></li>
            </ul>
            <hr />
        </nav>   
        <br>
        <br>
        <br>
        <div class="container">
            <div class="popularplansGrid" *ngFor = "let recharge of recharges">
            
                <h1 class="heading">{{recharge.name}}</h1>
                <h2 class="service__price">Rs.{{recharge.rechargePrice}}</h2>
                <ul class="features__list">
                    <li>recharge Type:{{recharge.rechargeType}}</li>
                    <li>Validity:{{recharge.rechargeValidity}}</li>
                    <li>Details:{{recharge.rechargeDetails}}</li>
                </ul>
            </div>  
        </div>
        <div class="buttons">
            <a href="/addons"><button class="editRecharge">Add Add-ons</button></a>
            <a href="/popularrecharges"><button class="deteleRecharge">Delete</button></a>
            <a href="/"><button class="confirmRecharge">Recharge</button></a>
        </div>
    </body>
</html>
