<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">

<html lang="en">
    
    <head>
        <link rel="stylesheet" href="popularplans.component.css">
        
    </head>
    <body>
    <h2>AirNet</h2>
    <nav> 
        <ul class="nav_links">   
            <li><a href="/popularplans" id="userPlans" class="currentPage">Popular plans</a></li>
            <li><a href="/addons" id="userAdOns">Add ons</a></li>
            <li><a href="#" id="notification">Notifications</a></li>
            <li><a id="logout" href="/login">Logout</a></li>
        </ul>
        <hr />
    </nav>   
    <br>
    <br>
    <br>
    <div class="container">
        <div class="popularPlansGrid" *ngFor = "let plan of plans">
            
            <h3 class="heading">{{plan.planName}}</h3>
            <h1 class="service__price">RS.{{plan.planPrice}}</h1>
            <ul class="features__list">
                <li>Plan Type:{{plan.planType}}</li>
                <li>Validity:{{plan.planValidity}}</li>
                <li>Details:{{plan.planDetails}}</li>
            </ul>
            <h4><button class="recharge__button">Recharge</button></h4>
        </div>   
    </div>
</body>
</html>
