<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">

<html lang="en">
    
    <head>
        <link rel="stylesheet" href="popularplans.component.css">
        
    </head>
    <body>

    <h2>AirNet</h2>
    <nav> 
        <ul class="nav_links">   
            <li><a href="/popularplans" id="userPlans" class="currentPage">Popular plans</a></li>
            <li><a href="/addons" id="userAdOns">Add ons</a></li>
            <li><a href="#" id="notification">Notifications</a></li>
            <li><a id="logout" href="/login">Logout</a></li>
        </ul>
        <hr />
    </nav>   

    <br>
    <br>
    <br>
    <div class="container">


        <div class="popularPlansGrid" *ngFor = "let plan of plans">
            <div class="icon type-01">
                <span class="fa fa-paper-plane" aria-hidden="true">
                </span>
            </div>
            <h3 class="heading">{{plan.planType}}</h3>
            <h1 class="service__price">{{plan.planPrice}}</h1>

            <ul class="features__list">
                <li>{{plan.planName}}</li>
                <li>{{plan.planValidity}}</li>
                <li>{{plan.planDetails}}</li>
            </ul>
            <button class="recharge__button">Recharge</button>
        </div>   
        <!--<div class="popularPlansGrid">
            <div class="icon type-01">
                <span class="fa fa-paper-plane" aria-hidden="true">
                </span>
            </div>
            <h3 class="heading">Airtel</h3>
            <h1 class="service__price">Rs.499</h1>
            <ul class="features__list">
                <li>3GB/Day</li>
                <li>Unlimited Calls</li>
                <li>100 SMS/Day</li>
                <li>Validity:29 days</li>
            </ul>
            <button class="recharge__button">Recharge</button>
        </div>    
        <div class="popularPlansGrid">
            <div class="icon type-01">
                <span class="fa fa-paper-plane" aria-hidden="true">
                </span>
            </div>
            <h3 class="heading">Jio</h3>
            <h1 class="service__price">Rs.599</h1>
            <ul class="features__list">
                <li>2GB/Day</li>
                <li>Unlimited Calls</li>
                <li>100 SMS/Day</li>
                <li>Validity:56 days</li>
            </ul>
            <button class="recharge__button">Recharge</button>
        </div>
        <div class="popularPlansGrid">
            <div class="icon type-01">
                <span class="fa fa-paper-plane" aria-hidden="true">
                </span>
            </div>
            <h3 class="heading">Vodafone</h3>
            <h1 class="service__price">Rs.2999</h1>
            <ul class="features__list">
                <li>2.5GB/Day</li>
                <li>Unlimited Calls</li>
                <li>100 SMS/Day</li>
                <li>Validity:1 Year</li>
            </ul>
            <button class="recharge__button">Recharge</button>
        </div>
        <div class="popularPlansGrid">
            <div class="icon type-01">
                <span class="fa fa-paper-plane" aria-hidden="true">
                </span>
            </div>
            <h3 class="heading">Vodafone</h3>
            <h1 class="service__price">Rs.2999</h1>
            <ul class="features__list">
                <li>2.5GB/Day</li>
                <li>Unlimited Calls</li>
                <li>100 SMS/Day</li>
                <li>Validity:1 Year</li>
            </ul>
            <button class="recharge__button">Recharge</button>
        </div>-->
    </div>

</body>



</html>