* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    background:#eee;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;
    border-radius: 50px;
    text-decoration: none;
}
.btn:hover{
    background:black;
    color:#fff;
}
.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:#fff;
    box-shadow: var(--box-shadow);
    text-decoration: none;
}
.header .logo{
    text-align: left;
    font-size: 35px;
    color: red;
    text-decoration: none;
}
.header .navbar a{
    font-size: 25px;
    margin:0 1rem;
    text-align: center;
    color:var(--black);
    text-decoration: none;
}

.header .navbar a:hover{
    color:blue;
}

.-InputUser{
    width:900px;
    margin-left: 550px;
}

label{
    width: 100px;
    display: inline-block;
}

#form{
    border-radius: 40px;
    width:590px;
    border-color: gray;

}
#form:hover{
    border-color: black;
}

.container {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container .addonsGrid {
    display: block;
    padding: 20px;
    background: #ccc;
    overflow: hidden;
    width: 300px;
    margin: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.container .addonsGrid {
    background-image: linear-gradient(135deg, #43CBFF 10%, #9708CC 100%);
    border-radius: 50px;
}



.addonsGrid .icon {
    display: block;
    width: 70px;
    height: 70px;
    background: #fff;
    text-align: center;
    line-height: 70px;
    font-size: 2.2em;
    margin: 20px auto;
    border-radius: 50px;
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.addonsGrid .icon span {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.addonsGrid .type-01 {
    color: #43CBFF;
}


.heading {
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-weight: lighter;
    padding: 10px;
    font-size: 3em;
}

.service__price {
    color: #fff;
    text-align: center;
    font-size: 2em;
}

.service__price .dollar__sign {
    font-size: 0.6em;
    margin-left: -10px;
}

.features__list {
    list-style: none;
    display: block;
    margin: 20px auto;
    width: 80%;
}

.features__list li {
    color: #fff;
    text-align: center;
    display: block;
    text-transform: capitalize;
    font-weight: lighter;
    font-size: 0.9em;
    height: 30px;
    line-height: 30px;
}

a .confirmRecharge {
    border: none;
    display: block;
    width: 130px;
    height: 40px;
    margin: 5px auto;
    border-radius: 50px;
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.5);
    background: #fff;
    
}

a .confirmRecharge:hover {
    width:140px;
    cursor: pointer;
    text-decoration: none;
}